body{
    background-color: lightgray;
}
.flash{
    padding: 20px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}


.flash-success {
    background-color: #6b9311;

}
.flash-error {
    background-color: #AA3333;
}