{% extends 'base.html.twig' %}
{% block main %}
    <form method="post">
        <label for="username">Mail:</label>
        <input type="text" name="_username" id="username">
        <label for="password">Mot de passe:</label>
        <input type="password" name="_password" id="password">
        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
        <label for="remember_me">Se souvenir de moi</label>
        <button type="submit">Connexion</button>

    </form>
{% endblock %}

{% block title %}Connexion{% endblock %}
